

.skill-item {
    // --test:#f77b19;
    // --test:linear-gradient();
    // background: linear-gradient(#2d96f7 0%, #2d96f6 49%,#f3c03a 51% #f3c03a 100%);
    background: linear-gradient(#2d96f7 0%, #2d96f6 49%,#f3c03a 51% #f3c03a 100%);

    //FINISH FOR PYTHON
    display: block;
    color: whitesmoke;
    text-shadow: 0 0 3px black;
    font-size: 1.2rem;
    margin: 5px 5px;
    padding: 0 10px;
    border-radius: 15px;
    

    // background: var(--test);
    box-shadow: 0 0 4px var(--test);
}

